<div class="footer">
  <div class="row">
    <div class="come-over col-6"><h2 >Come over </h2><h2>FOR A DRINK </h2><p>Pick your favourite one, it's on us! </p></div>
    <div class="col-6 let-work"><h2 >Let's Work </h2><h2>TOGETHER </h2><p>Do you have a project you would like to discuss? </p></div>
  </div>
  <div class="row"> <div class="col-4 fot-logo"><img  src="http://www.snifzworld.com/snifzworld_data/uploads/2017/07/snifz-logo.png" alt="not found"></div>
  <div class="col-4 social-icons-box">
    <a href="" class="icon-img fb"></a>
    <a href="" class="icon-img twit"></a>              
    <a href="" class="icon-img insta"></a>
    
  </div>
  <div class="col-4 certification-icon-box">
    <a href="" class="icon-img2 ga"></a>
    <a href="" class="icon-img2 gad"></a>
    <a href="" class="icon-img2 ic"></a>

  </div>
</div>
  <div class=" bottom" > <p >Snifzworld.com @2017 All Rights Reserved</p> </div>
  
</div>